<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>companyName</param-name>
        <param-value>BookLoom</param-value>
    </context-param>
    <context-param>
        <param-name>companyEmail</param-name>
        <param-value>bookloom123@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>copyright</param-name>
        <param-value>All rights reserved |Made with</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStaff</servlet-name>
        <servlet-class>controller.editStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <servlet-class>controller.ProcessPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaff</servlet-name>
        <servlet-class>controller.deleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>controller.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>controller.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffCheckStatusServlet</servlet-name>
        <servlet-class>staffCheckStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>controller.editProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportServlet</servlet-name>
        <servlet-class>reportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerServlet</servlet-name>
        <servlet-class>controller.editCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <servlet-class>controller.deleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerLogoutServlet</servlet-name>
        <servlet-class>controller.managerLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStaff</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <url-pattern>/ProcessPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaff</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffCheckStatusServlet</servlet-name>
        <url-pattern>/staffCheckStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportServlet</servlet-name>
        <url-pattern>/reportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerServlet</servlet-name>
        <url-pattern>/editCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerLogoutServlet</servlet-name>
        <url-pattern>/managerLogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>about.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error-500.html</location>
    </error-page>
</web-app>
