<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStaff</servlet-name>
        <servlet-class>controller.editStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <servlet-class>controller.ProcessPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaff</servlet-name>
        <servlet-class>controller.deleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>controller.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>controller.deleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStaff</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <url-pattern>/ProcessPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaff</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>about.jsp</welcome-file>
    </welcome-file-list>
</web-app>
